#boxer{
position:relative;
font-size:100%;
width:8em;
margin: auto;
}
#boxer .facewrinkletop{
   width: 3em;
height: .1em;
background:#dcc; 
  border-radius:15%;
  top:1.5em;
  left:1.5em;
  position:absolute;
  font-size:400%; 
}
#boxer .facewrinkle{
   width: 5em;
height: .1em;
background:#dcc; 
  border-radius:15%;
  top:2.3em;
  left:.5em;
  position:absolute;
  font-size:400%; 
}
#boxer .dome4head{
  font-size:400%;
width: 6em;
height: 6em;
  border-radius:50%;
background:#fee; 
}
#boxer .square4head{

width: 6em;
height: 6em;
background:#999; 
  border-radius:10%;
  top:3em;
  position:absolute;
  font-size:400%;
  z-index:-1;
}
#boxer .chincircle{
width: 6em;
height: 2em;
  border-radius:50%;
background:#999; 
  position:absolute;
  top:7.5em;
    font-size:400%;
}
#boxer .buttchin{
width: 4em;
height: 3em;
  border-radius:50%;
background:#999; 
  position:absolute;
  top:7.7em;
  left:1em;
    font-size:400%;
}
#boxer .chinnotch{
width: .1em;
height: .5em;
  border-radius:50%;
background:#555; 
  position:absolute;
  top:10em;
  left:3em;
    font-size:400%;
}
#boxer .cheekleft{
width: 2em;
height: 1.5em;
  border-radius:50%;
background:#fdd; 
position:absolute;
  top:3.5em;
  left:-.5em;
  font-size:400%;
}
#boxer .cheekright{
width: 2em;
height: 1.5em;
  border-radius:50%;
background:#fdd; 
position:absolute;
  top:3.5em;
  left:4.5em;
  font-size:400%;
}
#boxer .nosetop{
  width: 2em;
height: 3em;
  border-radius:50%;
background:#fbb; 
position:absolute;
  top:3em;
  left:2em;
  font-size:400%;
}

#boxer .nosebottom{
  width: 2em;
height: 1em;
  border-radius:50%;
background:#fbb; 
position:absolute;
  top:5.5em;
  left:2em;
  font-size:400%;
}
#boxer .blooddribble{
  width: .5em;
height: 1em;
background:#900; 
  border-radius:10%;
  top:3,5em;
  left:3em;
  position:absolute;
  font-size:400%;

}
#boxer .mustachecenter{
  font-size:400%;
width:2em;
height:0;
line-height:0;
border: 2em dashed transparent;
border-bottom:1em solid #555;
border-top:2em;
  top:6em;
  left:0;
position:absolute; 
}
#boxer .mustacheleft{
  font-size:200%;
width:1em;
height:0;
line-height:0;
border:2em dashed transparent;
border-bottom:.8em solid #555;
border-top:.5em;
  top:13.8em;
  left:-1.9em;
position:absolute; 
  transform:rotate(36deg);
}
#boxer .mustacheright{
  font-size:200%;
width:1em;
height:0;
line-height:0;
border:2em dashed transparent;
border-bottom:.8em solid #555;
border-top:.5em;
  top:13.8em;
  left:9em;
position:absolute; 
  transform:rotate(152deg);
}


#boxer .browfuzzleft{
width: 1.5em;
height: .25em;
  border-radius:50%;
background:#444; 
position:absolute;
  top:2.9em;
  left:.5em;
  font-size:400%;
  z-index:1;
}
#boxer .browfuzzright{
width: 1.5em;
height: .25em;
  border-radius:50%;
background:#444; 
position:absolute;
  top:2.9em;
  left:4em;
  font-size:400%;
  z-index:1;
}
#boxer .browleft{
width: 2em;
height: .5em;
  border-radius:50%;
background:#606; 
position:absolute;
  top:2.8em;
  left:.3em;
  font-size:400%;
  z-index:1;
background: linear-gradient(-7deg, rgb(53, 8, 52), rgb(255, 218, 190));
  background: -webkit-linear-gradient(-7deg, rgb(53, 8, 52), rgb(255, 218, 190));
}
}
}
#boxer .browright{
width: 2em;
height: .5em;
  border-radius:50%;
background:#fdd; 
position:absolute;
  top:2.8em;
  left:3.8em;
  font-size:400%;
  z-index:1;
}
#boxer .pupilright{
  width: .5em;
height: .5em;
  border-radius:50%;
background:#000; 
position:absolute;
  top:3.3em;
  left:1em;
  font-size:400%;
  z-index:1;
}
#boxer .pupilleft{
  width: .5em;
height: .5em;
  border-radius:50%;
background:#555; 
position:absolute;
  top:3.3em;
  left:4.5em;
  font-size:400%;
  z-index:1;
}
#boxer .eyeleft{
  width: 1.5em;
height: 1em;
  border-radius:50%;
background:#ee0; 
position:absolute;
  top:3em;
  left:4em;
  font-size:400%;
}
#boxer .eyeright{
  width: 1.5em;
height: 1em;
  border-radius:50%;
background:#e50; 
position:absolute;
  top:3em;
  left:.5em;
  font-size:400%;
}
#boxer .blackeye{
    width: 1.5em;
height: 1em;
  border-radius:50%;
background:#606; 
position:absolute;
  top:3.2em;
  left:.3em;
  font-size:400%;
 background: linear-gradient(29deg, rgb(53, 8, 52), rgb(255, 218, 190));
  background: -webkit-linear-gradient(29deg, rgb(53, 8, 52), rgb(255, 218, 190));

}
#boxer .eyeshadowright{
    width: 1.5em;
height: 1em;
  border-radius:50%;
background:#dcc; 
position:absolute;
  top:3.2em;
  left:4.3em;
  font-size:400%;
}
#boxer .mouth{
 width: 5em;
height: 1em;
background:#000; 
  top:7em;
  left:.5em;
  position:absolute;
  font-size:400%; 
}
#boxer .teethtop{
 width: 5em;
height: .35em;
background:#f00; 
  border-radius:15%;
  top:7em;
  left:.5em;
  position:absolute;
  font-size:400%; 
}
#boxer .teethbottom{
 width: 5em;
height: .4em;
background:#f00; 
  border-radius:15%;
  top:7.6em;
  left:.5em;
  position:absolute;
  font-size:400%; 
}#boxer .teethblood{
 width: 1em;
height: 2em;
background:#c00; 
  top:8em;
  left:2em;
  position:absolute;
  font-size:400%; 
  z-index:1;
}
